@charset "utf-8";
/* CSS Document */
*{font-family:Arial, Helvetica, sans-serif;font-size:12px}
body{margin:0}
a{text-decoration:none}
a:hover{color:#6d388f}
img{border:0}
.clear{clear:both}
.container{margin:0 auto;width:1004px}
*html .container{overflow:hidden}
.header_2014{width:1004px;height:128px}
.header{width:1004px;height:128px}
.content{padding:10px 0}
.colLeft{float:left;width:714px}
.colRight{float:left;width:280px;margin-left:10px}

.txtB{font-weight:bold}
.txtI{font-style:italic}
.txtBI{font-weight:bold;font-style:italic}
.txt13{font-size:13px}
.txt14{font-size:14px}
.txt15{font-size:15px}
.txt16{font-size:16px}
.txt17{font-size:17px}
.txt18{font-size:18px}
.txt19{font-size:19px}
.txt20{font-size:20px}
.txtGrey{color:#818181}

.padB2{padding-bottom:2px}
.padT5{padding-top:5px}
.padB5{padding-bottom:5px}
.padTB5{padding-top:5px;padding-bottom:5px}
.padL5{padding-left:5px}
.padR5{padding-right:5px}
.padR10{padding-right:10px}
.padL10{padding-left:10px}

.marT5{margin-top:5px}
.marB5{margin-bottom:5px}
.marTB5{margin-top:5px;margin-bottom:5px}
.marL5{margin-left:5px}
.marR5{margin-right:5px}
.marTB10{margin-top:10px;margin-bottom:10px}
.marT10{margin-top:10px}
.marB10{margin-bottom:10px}
.padB10{padding-bottom:10px}
.marL10{margin-left:10px}

.aCenter{text-align:center}
.aRight{text-align:right}
.fLeft{float:left}
.fRight{float:right}
.lineGrey{border-bottom:#cdcdcd solid 1px;height:0;overflow:hidden}
h1,h2,h3,h4,h5{margin:0;display:inline}


/*STYLE CAC KHOI TIN*/
.imgFloat{float:left;border:#ebebeb solid 1px;margin-right:10px;display:block;background:#f5f5f5;position:relative}
.img70{width:70px;height:70px}
.img75{width:75px;height:75px}
.img80{width:80px;height:80px}
.img85{width:85px;height:85px}
.img90{width:90px;height:90px}
.img100{width:100px;height:100px}
.img150{width:150px;height:150px;background:#f5f5f5;display:block}
.img200{width:200px;height:200px;background:#f5f5f5;display:block}

.listNews {color:#000}
.listNews ul {margin:0;padding:0}
.listNews ul li{display:block;list-style:none;padding: 2px 0 1px 12px;font-size:11px}
.listNews ul li a{text-decoration:none;	color:#000;font-size:11px}
.listNews ul li a:hover {color:#78b43d}

.lst-normal{background:url(../images/sprites_v2014.png) 1px -547px no-repeat} *html .lst-normal{background:url(../images/sprites_v2014.gif) 1px -546px no-repeat}
.lst-smile{background:url(../images/icon-smile.gif) 0px -2px no-repeat}
.lst-smile a{font-weight:bold}
.lst-redStar{background:url(../images/red-star.gif) 0px 4px no-repeat !important}
.lst-redStar a{}
.lst-greenStar{background:url(../images/green-star.gif) 0px 4px no-repeat}
.lst-greenStar a{}

.orangeTxt{color:#f28007}
.orangeTxt-B{color:#f28007;font-weight:bold}

.dropbox{border:#abadb3 solid 1px;color:#818181}
.textbox{border:#abadb3 solid 1px;color:#818181;padding:5px 5px}
.sapxeptheo a{color:#818181}.sapxeptheo a:hover{text-decoration:underline}.sapxeptheo a.active{text-decoration:underline}

/*********** SMALL ICON  *****************/
.icon-hot{background:url(../images/icon-hot.gif) no-repeat 2px 0px;width:25px;height:10px;display:inline-block;margin:0 0 0 5px}
.pic-icon{ bottom: 5px;    left: 5px;    position: absolute;display:block}

/*BUTTON*/
/* .btn-violet{background:#6d388f;padding:10px 20px;text-align:center;font-weight:bold;color:#fff;display:inline-block} */
.btn-violet{background: #6d388f;padding: 0px 20px;text-align: center;font-weight: bold;color: #fff;height: 34px;line-height: 32px;display: inline-block;}
.btn-violet:hover{background:#421f5c;color:#fff}
.btn-grey{background:#e6e6e6;padding:9px 20px;text-align:center;font-weight:bold;color:#555555;display:inline-block;border:#ccc solid 1px}.btn-grey:hover{background:#ddd;color:#555555}
.btn-orange{background:#f28007;padding:10px 20px;text-align:center;font-weight:bold;color:#fff;display:inline-block}.btn-orange:hover{background:#d87003;color:#fff}

/* HEADER */
.logo{float:left;width:250px;height:93px;overflow:hidden;position:relative}
.logoLink{	position:absolute;	display:block;	width:250px;	height:100px;	top:4px;	left:1px}
.logoSEO{	position:absolute;	left: 75px;	top: 38px;	font-size:9px;color:#6d388f;width:160px;height:33px;overflow:hidden}
.logoSEO a,.logoSEO h1{	font-size:9px;color:#6d388f;font-weight:normal}
.logoSEO a :hover{text-decoration:underline}
.headerCol2{float:left;width:540px;height:83px;overflow:hidden;padding:5px 10px}
.thongke-1{width:250px;float:left;padding:5px 10px;border:#af9bc1 solid 1px}
.thongke-2{width:247px;float:left;padding:5px 10px;border-top:#af9bc1 solid 1px;border-right:#af9bc1 solid 1px;border-bottom:#af9bc1 solid 1px}
.thongke-3{padding:5px 10px;border:#af9bc1 solid 1px;height:70px}
.thongbao{background:#ebebeb;padding:4px 7px;border-left:#f28007 solid 5px;margin:3px 0 0 0;color:#363636}.thongbao a{color:#363636}
.login{float:left;width:194px;float:left;height:93px;position:relative;overflow:hidden}
.login-t{width:220px;height:5px;background:url(../images/sprites.gif) 0 0 no-repeat;overflow:hidden}
.login-c{width:198px;height:104px;padding:0 10px;background:#f9f9fc;border-left:#cbcbcb solid 1px;border-right:#cbcbcb solid 1px;position:relative}
.login-b{width:220px;height:5px;background:url(../images/sprites.gif) 0 -21px no-repeat;overflow:hidden}
.thongTinTaiKhoan_ntd{padding: 5px 0 0 10px}.thongTinTaiKhoan_ntd a{display:block;font-size:11px;color:#666}.thongTinTaiKhoan_ntd a:hover{color:#017a98;text-decoration:underline}
.loginTitle{font-size:12px;padding:7px 0px 8px 0px;text-align:center}
.loginTitle a{color:#7c529f;font-size:12px}.loginTitle a:hover{text-decoration:underline}
.loginTitle_ntd{background:url(../images/loginTitle.gif) repeat-x;color:#017a98;font-weight:bold;font-size:12px;padding:5px 0px 8px 0px}
.loginTitle_ntd a{color:#017a98;font-weight:bold;font-size:12px}
.login-txt{border:#ddd solid 1px;width:122px;overflow:hidden;padding:5px 5px;color:#999;height:17px}
*html .login-txt{height:18px}
.login-txt-ntd{background:url(../images/sprites.gif) 0 -620px no-repeat;width:139px;height:16px;overflow:hidden;border:0;padding:4px 5px;color:#999;margin-bottom:5px}
.login-txt-ntd input{border:0;color:#999;width:139px;}
.login-txt input{border:0;color:#999;font-style:italic}
.btn-DangNhap{position:absolute;right:0px;top:30px}.btn-DangNhap a{background:#6d388f ;padding: 15px 10px;display:block;color:#fff;font-weight:bold;width:40px;height:27px;text-align:center}.btn-DangNhap a:hover{background:#421f5c;color:#fff}
.btn-DangNhap-ntd{position:absolute;right:5px;top:27px}
.loginBox{border:#ddd solid 1px;padding:5px;margin:5px 0px;height:70px;overflow:hidden}
.txtViolet{color:#6d388f;font-weight:bold}
.thoat{position:absolute;top:5px;left:70px}
.thoat a{background:url(../images/sprites_v2014.gif) 0px -839px no-repeat;padding:0 0 0 13px;color:#959595;font-size:12px;font-weight:normal}.thoat a:hover{color:#000}
.thoat_ntd{position:absolute;top:3px;left:80px}
.thoat_ntd a{background:url(../images/sprites.gif) 0px -112px no-repeat;padding:0 0 0 13px;color:#5a9718;font-size:11px;font-weight:bold}.thoat_ntd a:hover{color:#000}
.thongTinTaiKhoan{padding: 5px 0 0 10px;font-size:11px;color:#666}.thongTinTaiKhoan a{display:block;font-size:11px;color:#666}.thongTinTaiKhoan a:hover{color:#7214ae;text-decoration:underline}
.thongTinTaiKhoan b{font-size:11px;color:#666}

/*STYLE CAC BOX*/
.orangeBox{border:#f28007 solid 2px;padding:5px;margin-bottom:10px}
.tabTitle{background:url(../images/line.gif) no-repeat left bottom;position:relative;padding:5px 0 10px;margin-bottom:10px }
.tabTitleTxt,.tabTitleTxt h2,.tabTitleTxt h3{color:#6d388f;font-size:18px;font-weight:bold;}
.tabTitle-Violet{background:#6d388f;color:#fff;font-weight:bold;font-size:14px;padding:8px 10px;text-transform:uppercase }
.tabTitle-Violet h2,.tabTitle-Violet h3{color:#fff;font-weight:bold;font-size:14px}
.tabTitle-Green{background:#78b43d;color:#fff;font-weight:bold;font-size:14px;padding:5px 10px;text-transform:uppercase }
.contentBox{border-left:#e6e6e6 solid 1px;border-bottom:#e6e6e6 solid 1px;border-right:#e6e6e6 solid 1px;padding:7px;margin-bottom:10px}
.col2{width:346px;margin-right:10px;float:left}
*html .col2{width:342px;margin-right:10px;float:left} /*hack IE6*/
.col3{width:324px;margin-right:10px;float:left}
.col4{width:165px;margin-right:10px;float:left}
.xemChiTiet{font-weight:bold;color:#6d388f;background:url(../images/sprites_v2014.gif) no-repeat 0 2px;padding:0 0 0 15px}
.xemChiTiet:hover{text-decoration:underline}
.xemThem{color:#959595;background:url(../images/sprites_v2014.gif) no-repeat 0 2px;padding:0 0 0 15px}
.xemThem:hover{text-decoration:underline}
.thugon{color:#959595;background:url(../images/sprites_v2014.gif) no-repeat 0 2px;padding:0 0 0 15px}
.thugon:hover{text-decoration:underline}
.quayLai{font-weight:bold;color:#6d388f;background:url(../images/sprites_v2014.gif) no-repeat 0 -886px;padding:0 0 0 15px}
.quayLai:hover{text-decoration:underline}
.paging a{display:inline-block;border:#cdcdcd solid 1px;margin:0 5px 0 0;padding:3px 7px;color:#818181}
.paging a.active,.paging a:hover{background:#6d388f;border:#6d388f solid 1px;color:#fff}
.paging-circle a{margin:0 5px}
.box-NhanBanTin{border:#d7d7d7 solid 2px;padding:10px;color:#555555;margin-bottom:10PX}
.txtDangKy{border-left:#b4b4b4 solid 1px;border-top:#b4b4b4 solid 1px;border-bottom:#b4b4b4 solid 1px;border-right:none;padding:7px;color:#999;width:170px}
.btnDangKy{background:#f28007;color:#fff;font-weight:bold;text-align:center;height:13px;display:inline-block;padding:9px;}
*:first-child+html .btnDangKy{margin:1px 0 0 0} /*hack IE7*/
*html .btnDangKy{margin:1px 0 0px 0;padding:8px}

/*SEARCH*/
.searchBox{position:relative;margin-bottom:10px}
.searchTab{background:#ebebeb;color:#636363;font-size:14px;font-weight:bold;text-align:center;padding:10px 25px;display:inline-block;text-transform:uppercase;margin-right:2px}
.searchTab-active{background:#ddcfea;color:#6d388f;font-size:14px;font-weight:bold;text-align:center;padding:10px 25px;display:inline-block;text-transform:uppercase;margin-right:2px}
.searchCnt{background:#ddcfea;padding:10px;width: 98%;float: left;}
.searchTxt{border:#b4b4b4 solid 1px;padding:9px 10px;margin-right:3px;color:#818181;height:15px;}

/*FACEBOOK*/
.fb-topPage{position:absolute;right:0;top:8px;text-align:right}
.tag-txt-FB{padding:20px 0 0 0;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#1e4580}.tag-txt-FB b,.tag-txt-FB a{font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#1e4580}

/*TIN TUYEN DUNG*/
ul.jobs{margin:0;padding:0}
ul.jobs li{list-style:none;display:block;background:url(../images/sprites_v2014.gif) no-repeat 0 -36px;padding:3px 0 3px 13px;margin:0 0 3px 0}
ul.jobs li.border{padding:0px 0 0px 8px} 
ul.jobs li span.border{border:#f28007 solid 1px;display:block;padding:3px 0 3px 5px}
ul.jobs li a{font-size:12px}ul.jobs li a:hover{text-decoration:underline}
a.titleNormal{font-weight:bold;color:#555555}a.titleNormal:hover{text-decoration:underline}
a.titleBlack{font-weight:bold;color:#000000}a.titleBlack:hover{text-decoration:underline}
a.titleRed{font-weight:bold;color:#ff0000}a.titleRed:hover{text-decoration:underline}
ul.jobs li a.theoTinhChat{color:#6d388f}
.company,a.company{color:#959595}a.company:hover{text-decoration:underline}
.jobsVip{color:#555555;font-weight:bold;display:block} a.jobsVip:hover{text-decoration:underline}
.newsTitle{color:#555555;font-weight:bold;display:block;margin-bottom:5px}
.newsSapo{color:#555555}
.redTxt{color:#ff0000}

/*DANH MUC NGANH*/
ul.category{margin:0;padding:0}
ul.category li{list-style:none;display:inline-block;width:175px;float:left;line-height:23px}
ul.category li a{color:#555555}ul.category li a:hover{text-decoration:underline}
ul.category b.nhomnganh{color:#000}

/*BANNER*/
.bannerS{margin:0px 0px 4px 0px}
.logo-ntd{text-align:center}
/* .logo-ntd a{margin:0 12px 8px 0} */
.logo-ntd img{margin:0 16px 8px 0} 

/*HOTLINE*/
.hotlineNTD{border:#f28007 solid 3px;padding:7px;margin-bottom:10px}
.hotlineNTD-Title{font-size:18px;color:#363636;background:url(../images/sprites_v2014.gif) no-repeat 0  -127px;padding:5px 0 10px 40px}.hotlineNTD-Title span.sdt{color:#f28007;font-size:18px;font-weight:bold}
.hotlineNTV{background:#fff1d0;border:#f28007 solid 3px;padding:7px;margin-bottom:10px}
.hotlineNTV-Title{font-size:18px;color:#363636;background:url(../images/sprites_v2014.gif) no-repeat 0  -169px;padding:5px 0 5px 40px}.hotlineNTV-Title span.sdt{color:#f28007;font-size:18px;font-weight:bold}
.hotlineNV{display:inline-block;width:164px;margin:0 0 10px 0}

/*FOOTER*/
.footer-menu1 {background:#6d388f;color:#fff;font-weight:bold;text-align:center;padding:10px}
.footer-menu1 a,.footer-menu1 span{color:#fff;font-weight:bold;margin:0 5px} .footer-menu1 a:hover{text-decoration:underline}
.footer-menu2 {background:#ddcfea;color:#363636;font-weight:bold;text-align:center;padding:10px;margin-bottom:10px}
.footer-menu2 a,.footer-menu2 span{color:#363636;font-weight:bold;margin:0 20px}.footer-menu2 a:hover{text-decoration:underline}
.copyright{width:1004px;margin:0 auto;font-size:12px;color:#555555;text-align:center;padding:10px 0 0 0}
.footerSeo-chanTrang{text-align:center;font-weight:bold;color:#6d388f}
.footerSeo{padding:10px 0px 0 0;width:1004px;margin:0 auto;text-align:center} .footerSeo a{color:#6d388f;text-transform:uppercase} .footerSeo a:hover{text-decoration:underline}

/*TRANG TRONG*/
.textAd-small{border:#af9bc1 solid 1px;padding:3px 10px;display:block;}
.textAd-small p{ padding:0px 0px;margin:0px;}
.navigatior{font-size:12px;color:#555555;margin-bottom:10px}.navigatior a{font-size:12px;color:#555555}.navigatior a:hover{text-decoration:underline}
.luuTin{background:url(../images/sprites_v2014.gif) 0px -225px no-repeat;padding:5px 0 5px 25px;font-size:12px;color:#555555;display:inline-block;margin-right:20px}.luuTin:hover{text-decoration:underline}
.guiBanBe{background:url(../images/sprites_v2014.gif) 0px -279px no-repeat;padding:5px 0 5px 30px;font-size:12px;color:#555555;display:inline-block;margin-right:20px}.guiBanBe:hover{text-decoration:underline}
.toCao{background:url(../images/sprites_v2014.gif) 0px -335px no-repeat;padding:5px 0 5px 25px;font-size:12px;color:#555555;display:inline-block;margin-right:20px}.toCao:hover{text-decoration:underline}
.inTin{background:url(../images/sprites_v2014.gif) 0px -944px no-repeat;padding:5px 0 5px 33px;font-size:12px;color:#555555;display:inline-block;margin-right:20px}.inTin:hover{text-decoration:underline}
.canhBao{background:url(../images/sprites_v2014.gif) 0px -994px no-repeat;padding:5px 0 5px 33px;font-size:14px;font-weight:bold;color:#ff0000;display:inline-block;margin-right:20px}.canhBao:hover{text-decoration:underline}
tr.tb-header td{background:#e5e5e5 url(../images/sprites-repeat.gif) 0 -468px repeat-x ;padding:7px;text-align:center;font-weight:bold}
tr.tb-row-W td{border-bottom:#ebebeb solid 1px;padding:7px 10px;background:#fff;color:#555555}
tr.tb-row-R td{border-bottom:#ebebeb solid 1px;padding:7px 10px;background:#fff;color:#ff0000}
tr.tb-row-border td{padding:7px 10px;background:#fff;}
.tb-brLeft{border-left:#f28007 solid 1px}
.tb-brTB{border-top:#f28007 solid 1px;border-bottom:#f28007 solid 1px}
.tb-brRight{border-right:#f28007 solid 1px}
.tb-brB-grey{border-bottom:#ebebeb solid 1px;}
.box-JobFilter{border:#e6e6e6 solid 1px;padding:10px;margin-bottom:10px}
.txt555{color:#555}
ul.jobsilter{margin:0;padding:0}
ul.jobsilter li{list-style:none;display:block;background:url(../images/sprites_v2014.gif) no-repeat 0 -36px;padding:3px 0 3px 13px;margin:0 0 3px 0}
ul.jobsilter li a{font-size:12p;color:#555555}ul.jobsilter li a:hover{text-decoration:underline}

/*CHI TIET TIN TUYEN DUNG*/
.jobTitle{color:#6d388f;font-size:18px;font-weight:bold;border-left:#f28007 solid 5px;padding:0 0 0 10px;float:left;width:430px;margin:0 10px 0 0}
.jobTitle h2{color:#6d388f;font-size:18px;font-weight:bold}
tr.tbInfo-header td{padding:7px 15px;background:#e7ddf0;font-size:14px;font-weight:bold;color:#6d388f;position:relative}tr.tbInfo-header td h3,tr.tbInfo-header td h2{font-size:14px;font-weight:bold;color:#6d388f}
tr.tbInfo-row td{padding:4px 10px 7px 10px;line-height:23px;border-bottom:#ebebeb solid 1px;color:#555555}
.br-L{border-left:#ebebeb solid 1px}
.frmBinhLuan{height:140px;overflow:auto;margin-bottom:10px}
*::-ms-backdrop, .frmBinhLuan { height:130px}/*hack IE 11*/

/*TOP MENU*/
.menu{height:35px;background:#6d388f;width:840px;float:left}
.menu ul{margin:0;padding:0}
.menu ul li{display:inline-block;list-style:none;float:left}
.menu ul li a{font-weight:bold;color:#fff;text-transform:uppercase;display:inline-block;padding:11px 15px 8px 15px;font-size:12px;border-right:#421f5c solid 1px;border-left:#86649d solid 1px}
.menu ul li a.active{color:#ddcfea;background:#421f5c;border:none}
.menu ul li a.last{border-right:none}
.menu ul li a.home{border-right:none;background:url(../images/sprites_v2014.gif) no-repeat 10px -395px;padding:10px 23px;display:inline-block;height:15px}
/* .menu ul li a.home24H{padding:10px 5px 0 35px;display:inline-block;height:25px;white-space:nowrap} */
 .menu ul li a.home24H{border-right:none;padding-left:30px;display:inline-block;white-space:nowrap;padding-right:5px;}
*::-ms-backdrop, /* .menu ul li a.home24H {padding-left:39px} *//*hack IE 11*/
.menu ul li a:hover{color:#ddcfea}
.menu ul li span{font-weight:bold;text-transform:uppercase;display:inline-block;color:#fff000}

/*MENU XO XUONG*/
#menu-anywidth {height:35px; /* text-align:center; */position:relative; z-index:100/*; margin:0 auto 200px auto;*/;border-left:#86649d solid 1px}
#menu-anywidth ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left;}
#menu-anywidth ul {display:inline-block;} 
#menu-anywidth ul {display:inline;}

#menu-anywidth li {margin:0; padding:0; list-style:none;}
#menu-anywidth li {display:inline-block; display:inline;padding:5px 0 5px 0}
#menu-anywidth ul ul {position:absolute; left:-9999px;z-index:1000}
#menu-anywidth ul.level1 {display:table; margin:0 auto;}
#menu-anywidth ul.level1 li.level1-li {float:left; display:block;  position:relative; z-index:100;}
#menu-anywidth ul.level1 li.level1-li:hover {display:inline-block; z-index:10;}
#menu-anywidth ul li a.quanly-nghenghiep{border-right:none;background:url(../images/sprites_v2014.gif) no-repeat right -490px;display:inline-block;color:#f9ba76;font-weight:bold;padding-right:15px}
#menu-anywidth ul li a.quanly-nghenghiep:hover{background:url(../images/sprites_v2014.gif) no-repeat right -490px;}
#menu-anywidth ul.level1 {}

#menu-anywidth ul ul {background:#fff; padding: 5px 0 10px 0;margin-top:15px;
border:1px solid #ddd;
-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
*html #menu-anywidth ul ul{margin-top:0px}


#menu-anywidth ul ul ul {background:#fff; padding: 10px 0; 
border:1px solid #ddd;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-ms-border-radius: 8px;
border-radius: 8px;
-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#menu-anywidth a {display:block; color:#fff; text-decoration:none;padding:5px 10px 5px 10px;}
*html #menu-anywidth a:hover{padding:5px 10px 5px 10px}
#menu-anywidth ul.level1 li.level1-li a.level1-a {float:left; text-transform:uppercase; width:auto;
-moz-border-radius: 8px 8px 0 0;
-webkit-border-radius: 8px 8px 0 0;
-ms-border-radius: 8px 8px 0 0;
border-radius: 8px 8px 0 0;
}

#menu-anywidth ul ul li a {color:#666; /*line-height:20px;*/ text-transform:none; font-weight:normal;padding:7px 20px 7px 40px}

#menu-anywidth ul ul a.ql-timviec{background:url(../images/sprites_v2014.gif) 5px -542px no-repeat}
#menu-anywidth ul ul a.hs-dadang{background:url(../images/sprites_v2014.gif) 5px -570px no-repeat}
#menu-anywidth ul ul a.tao-hoso{background:url(../images/sprites_v2014.gif) 5px -598px no-repeat}
#menu-anywidth ul ul a.vl-daluu{background:url(../images/sprites_v2014.gif) 5px -628px no-repeat}
#menu-anywidth ul ul a.vl-ungtuyen{background:url(../images/sprites_v2014.gif) 5px -656px no-repeat}
#menu-anywidth ul ul a.ntd-cuatoi{background:url(../images/sprites_v2014.gif) 5px -682px no-repeat}
#menu-anywidth ul ul a.ntd-daxemhoso{background:url(../images/sprites_v2014.gif) 5px -714px no-repeat}
#menu-anywidth ul ul a.hs-canhan{background:url(../images/sprites_v2014.gif) 5px -742px no-repeat}
#menu-anywidth ul ul a.tt-canhan{background:url(../images/sprites_v2014.gif) 5px -768px no-repeat}
#menu-anywidth ul ul a.tb-vieclam{background:url(../images/sprites_v2014.gif) 5px -796px no-repeat}

#menu-anywidth ul li:hover > ul {left:0; top:20px; z-index:-1;}
#menu-anywidth ul li.left:hover > ul {left:auto; right:0; top:20px; z-index:-1;}

#menu-anywidth ul ul li:hover > ul {left:100%; top:auto; margin-top:-31px; margin-left:-10px; z-index:10;}
#menu-anywidth li.left ul li:hover > ul {left:auto; right:100%; top:auto; margin-top:-31px; margin-right:-10px; z-index:10;}

#menu-anywidth li.left ul a {text-align:right; padding:0 15px 0 30px;}

#menu-anywidth ul li a:hover {/*background:none*/} 
#menu-anywidth ul li:hover > a {} 

#menu-anywidth ul ul li a:hover {/*background:#f2f2f2;*/ color:#f9ba76;padding:7px 20px 7px 40px} 
#menu-anywidth ul ul li:hover > a {/*background:#f2f2f2;*/ color:#f9ba76;}

/* for IE6 */
#menu-anywidth b {position:absolute;}
#menu-anywidth table {position:absolute; height:0; width:0; left:0; border-collapse:collapse; margin-top:-7px;}
#menu-anywidth table table {position:absolute; left:99%; height:0; width:0; border-collapse:collapse; margin-top:-41px;}
#menu-anywidth table table table {margin-top:15px;}

#menu-anywidth li.left table {position:absolute; height:0; width:0; left:auto; right:10px; border-collapse:collapse; margin-top:-7px;}
#menu-anywidth li.left table table {position:absolute; left:auto; right:100%; height:0; width:0; border-collapse:collapse; margin-top:-41px;}
#menu-anywidth li.left table table table {margin-top:15px;}

#menu-anywidth ul a:hover ul {visibility:visible; left:0; top:26px; padding-top:10px;}
#menu-anywidth ul a:hover ul a:hover ul {visibility:visible; left:100%; top:26px; padding-top:10px; margin-left:-10px;}
#menu-anywidth ul a:hover ul a:hover ul a:hover ul {visibility:visible; left:100%; top:auto; margin-top:-31px; margin-left:-10px; z-index:10;}

#menu-anywidth li.left a:hover ul,
#menu-anywidth li.left a:hover a:hover ul, 
#menu-anywidth li.left a:hover a:hover a:hover ul {left:auto; right:0; visibility:visible; margin-right:-10px;}

#menu-anywidth ul a:hover ul ul {left:-9999px;}
#menu-anywidth ul a:hover ul a:hover ul ul {left:-9999px;}
#menu-anywidth ul a:hover ul a:hover ul a:hover ul ul {left:-9999px;}

#menu-anywidth li.left a:hover ul ul, 
#menu-anywidth li.left a:hover a:hover ul ul {left:-9999px;}

#menu-anywidth li.close {display:none; position:absolute; left:50%; margin-left:-50px; top:-30px;}


/*BORDER BOX VIP*/
.vip-border{border:#f28007 solid 1px;display:block;padding:2px;margin-bottom:8px}
.vip-normal{display:block;padding:2px;margin-bottom:8px}

.btn-veTrangChu{border: solid 1px #dfdfdf;padding:8px 8px 5px 10px;color:#6d388f;font-weight:bold;display:inline-block;background:#ebebeb url(../images/sprites_v2014.gif) no-repeat 3px -1049px;padding-left:30px;margin-right:5px}
.btn-veDauTrang{border: solid 1px #dfdfdf;padding:8px 8px 5px 10px;color:#6d388f;font-weight:bold;display:inline-block;background:#ebebeb url(../images/sprites_v2014.gif) no-repeat 3px -1075px;padding-left:30px}
.tabTitle-Filter{background:#6d388f;color:#fff;font-weight:bold;font-size:14px;padding:5px 5px 2px 10px;text-transform:uppercase}


/* huongtt2 them css cho popup */

.popupContainer_ntv{background:#fff;border:#7d52a1 solid 10px;padding:5px 10px 10px 10px;position:relative}
.popupTitle_ntv{font-size:22px;color:#7C529F;border-bottom:#b3c6c8 solid 1px;padding:0 0 3px 0;margin:0 0 15px 0}
.popupClose_ntv{position:absolute;right:10px;top:10px}
.popupTxt_ntv{border:#b3c6c8 solid 1px;padding:4px 5px;font-size:14px;color:#666}
.popupLabel_ntv{padding:0 10px 0 0}

.popupButton_ntv{background:#72a52b;border:none;padding:4px;color:#fff;font-size:12px;font-weight:bold;cursor:pointer}
.popupButton_ntv:hover{background:#000}

.popupSmallTxt_ntv{font-size:11px;line-height:170%}
.popupSmallTxt_ntv a{font-size:11px;line-height:150%;color:#036975}.popupSmallTxt a:hover{text-decoration:underline}

.popupOrange_ntv{color:#ff6600;font-weight:bold}

.popupContainer{background:#fff;border:#036975 solid 10px;padding:5px 10px 10px 10px;position:relative}
.popupTitle{font-size:22px;color:#036975;border-bottom:#b3c6c8 solid 1px;padding:0 0 3px 0;margin:0 0 15px 0}
.popupClose{position:absolute;right:10px;top:10px;}
.popupTxt{border:#b3c6c8 solid 1px;padding:4px 5px;font-size:14px;color:#666}
.popupLabel{padding:0 10px 0 0}

.popupButton{background:#72a52b;border:none;padding:4px;color:#fff;font-size:12px;font-weight:bold;cursor:pointer}
.popupButton:hover{background:#000}

.popupSmallTxt{font-size:11px;line-height:170%}
.popupSmallTxt a{font-size:11px;line-height:150%;color:#036975}.popupSmallTxt a:hover{text-decoration:underline}

.popupOrange{color:#ff6600;font-weight:bold}

/*hailt add tu nhac vui sang*/
.box-popup {overflow: hidden;position: fixed;_position: absolute;z-index: 100000000;_background: transparent;background-color: rgba(83,83,83,0.7);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838383,endColorstr=#838383);-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838383,endColorstr=#838383);margin: 0;padding: 8px;-moz-border-radius: 6px;border-radius: 6px;border: none;font: normal 12px Tahoma,Arial, sans-serif;zoom: 1;}
.popup-overlay {z-index: 99999999;border: none;position: fixed;_position: absolute;top: 0;left: 0;right: 0;bottom: 0;top: 0;background-color: rgba(53,53,53,0.3);zoom: 1;_background: transparent;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#535353,endColorstr=#535353) progid:DXImageTransform.Microsoft.Alpha(opacity=30);-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#535353,endColorstr=#535353) progid:DXImageTransform.Microsoft.Alpha(opacity=30);}

.boxFacebook {
	padding:7px 0px 10px 0px;
}
/*phuonghv add style for tooltip*/
/*tooltip*/
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; /*background:url(../images/tt_left.gif) top left no-repeat*/}
#tttop {display:block; height:5px; margin-left:5px; /*background:url(../images/tt_top.gif) top right no-repeat;*/ overflow:hidden}
#ttcont {display:block; padding:5px 5px 5px 5px; margin-left:5px; background:#d5d5d5; color:#000}
#ttbot {display:block; height:5px; margin-left:5px; /*background:url(../images/tt_bottom.gif) top right no-repeat;*/ overflow:hidden}

.tt-tieude{
	color:#FF6600;
	font-weight:bold;
}

.cuphap_style{
	color:#ff0000;
	font-weight:bold;
}
.DSTT_row_L14{	background-color:#ffffff;padding:5px 5px 5px 5px;font-size:11px; }
.textBoldRed14{	font-weight:normal;	color:#e40001;	font-size:11px;}
.textBoldBlue14{	font-weight:bold;	color:blue;	font-size:11px}
.textBoldBlack14{	font-weight:normal;	color:black;	font-size:11px}
.DSTT_row{	background-color:#ffffff;padding-left:20px;font-size:11px}
.textRed{color:#ff0000}

.m_banner_show {
	margin-bottom:4px;
	margin-right:1px;
	display:inline-block;
	vertical-align: middle;
}
.txtGrey555{color:#555555}


/*23-05-2014*/
.txtViolet{color:#6d388f} a.txtViolet:hover{text-decoration:underline}
.txtNormal{font-weight:normal !important}
tr.tb-row-W-txt000 td{border-bottom:#ebebeb solid 1px;padding:7px 10px;background:#fff;color:#000}
.blackText{color:#000}

.tbUser-row{padding:5px 10px 5px 20px;line-height:23px;color:#333333}.tbUser-row b{color:#555}

/**/
.tbUser-row{padding:5px 10px 5px 20px;line-height:23px;color:#333333}.tbUser-row b{color:#555}
.lineDash{border-bottom:#ddd dotted 1px}
.thoaThuanSD{border:#ddd solid 1px;padding:10px;margin:0px 0 10px 0;color:#666;height:120px;overflow:auto;line-height:18px;width:980px}
.button{background:#F28007;padding:5px 15px;border:0;color:#fff;font-weight:bold;cursor:pointer}.button:hover{background:#6D388F;color:#fff}
.txtGreen{color:#5B960D}
.userImg{border:#c6dbe0 solid 1px}
.thuTuGioiThieu{padding:22px 30px 0px 30px;color:#555;background:url(../images/BGGiayHT.gif) repeat;border:#eee dotted 1px;line-height:18px}
.thuMau{background:url(../images/sprites.gif) 0px -262px no-repeat;padding:15px 0 5px 35px;font-size:12px;color:#333;display:inline-block;font-weight:bold;margin-right:20px}.thuMau:hover{color:#7214ae}

.titleNormal:visited{color:#959595;}
.titleRed:visited{color:#F85151;}
.jobsVip:visited{color:#959595;} 

.txtNew{font-weight:normal;font-family:Verdana, Geneva, sans-serif;color:#ff0000;font-size:12px;padding:0 0 0 5px}

.txt-loc-ten {width:350px;float:left;}
.txt-loc {width:600px;float:left;}
.rightBox{width:100%;float:left;margin-bottom:10px;}