<div class="page">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Data</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
      </div>
    </div>
  </div>
</div>