<div class="page">
  <div class="container">
   <!-- Title Page -->
   <div class="row">
    <div class="span12">
      <div class="title-page">
        <h2 class="title">Data</h2>
        <%= @result %>
        <%= button_to "Config", returnroot_path, :method => "post", :class => "button" %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
      </div>
    </div>
  </div>
</div>