/* ==================================================
   Buttons
   ================================================== */

   .button {
     display: inline-block;
     margin-bottom: 0;
     padding: 13px 26px;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
     background-color: #3C3F45;
     color: #23262C;
     vertical-align: middle;
     text-align: center;
     text-transform: uppercase;
     font-weight:500;
     font-size: 16px;
     cursor: pointer;
     border:none;

     -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
     -o-transition: all 0.1s linear;
     transition: all 0.1s linear;
     *border: 0;
     *zoom: 1;
   }

   /*--- Hover/Active/Focus State ---*/

   .button:hover,
   .button:active,
   .button:focus {
     background-color: #DE5E60;
     color:#FFFFFF;
   }

   /* --- Button Sizes --- */

   .button.button-large {
     padding: 16px 30px;
     font-size: 18px;
   }

   .button.button-small {
     padding: 8px 18px;
     font-size: 14px;
   }

   .button.button-mini {
     padding: 4px 12px;
     font-size: 12px;
   }

   .button.button-block {
     padding-right: 0;
     padding-left: 0;
     width: 100%;
   }

   .button + .button {
     margin-left: 10px;
   }





